<!DOCTYPE html>
<html>
<head>
  <title>Lista de Usuários</title>

</head>
<body>
  <h1>Usuários</h1>
  <ul>
    @each(user in users)
      <li>{{ user.name }} - {{ user.age }} anos</li>
    @endeach
  </ul>

</body>
</html>
